@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap');

body {
    background-color: #f6f7f8;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.bg-home {
  background-image: url('/assets/bg.png');
  background-size: cover;
  background-position: center;
}